{% extends 'base.html' %}
{% block title %}{{ _('Stores Map') }} | {{ _('FIWARE Markets') }}{% endblock %}
{% block extra_head %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
{% endblock %}
{% block content %}
<section class="page-head"><h1>{{ _('Stores Map') }}</h1></section>
<section class="map-stage">
  <div id="stores-leaflet-map" aria-label="{{ _('Interactive stores map') }}"></div>
  <script id="stores-map-data" type="application/json">{{ stores | tojson }}</script>
</section>
{% endblock %}
{% block scripts %}
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
></script>
{% endblock %}
